*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
:root{
    --white-color:rgb(255, 255, 255);
    --main-text-color:rgb(0,0,0);
}
header{
    height:60px;
    background-color:rgb( 149, 165, 166  ) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    padding:10px 40px 10px 25px;
}
.logo > h1{
    font-weight: 400;
    color:var(--main-text-color);
    float: left;
    font-family:sans-serif;
    /* font-family: "Playwrite US Trad", cursive; */
    /* font-family:sans-serif ; */
    line-height:0.9;
}
.logo p{
    font-size:10px;
    margin-top: 0;
    font-style: italic;
    text-transform: capitalize;
}
.navbar{
    list-style:none;
    display: flex;
    gap:2em;
    width:300px;
}
.navbar li a{
    text-decoration: none;
    color:var(--main-text-color);
    text-transform: uppercase;
    font-size: 22px;
    transition: ease-in-out 0.70s; 
}
.navbar li a::after{
    content: " ";
    display: block;
    width:0;
    height: 2px;
    background-color: rgb(255,255,255);
}
.navbar li a:hover{
    color:rgb(255,255,255);
}
.navbar li a:hover::after{
    width:100%;
    transition:inherit;
}
.mybtn{
    padding:7px 15px;
    border:none;
    font-size:15px;
    font-weight: 400;
    text-transform: uppercase;
    transition: ease-in-out 0.70s; 
}
.mybtn:hover{
    background-color: rgba( 39, 55, 70, 0.3 );
    border:2px solid rgb(255,255,255);
    transform: scale(1.1);
}
#about{
    height: 100vh;
    width:100vw;
    background-color: rgb( 149, 165, 166 );
    padding-top:30px;
}
.about-container{
    width:1100px;
    max-width: 100%;
    margin:0 auto;
    /* border:2px solid black; */
    padding:50px 80px ;
    display: flex;
    justify-content: center;
    gap:4rem;
    align-items: center;
}
.image-container img{
    width:350px;
    height: 480px;
    border-radius: 10px;
}
.about-text > h1{
    color:rgb(77,86,86);
    font-size:50px;
    font-family: "Lato", sans-serif;
    /* color:var(--white-color) */
}
.about-text > h1 > span{
    color:var(--main-text-color);
}
.about-text h3{
    font-size:20px;
}
.about-text p{
    color:var(--main-text-color);
    font-size: 17px;
}
#Skills{
    padding:50px 0;
    text-align: center;
}
#title{
    font-size:32px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom:10px;
    letter-spacing: 1.5px;
}
.skill-container{
    margin-top:20px;
    padding:15px 0;
}
.skill-container > h3{
    font-size: 23px;
    font-weight: 500;
}
.skill-container p{
    font-size: 18px;
    line-height: 1.6;/*defines the height of a line*/
}
.icons{
    /* border:2px solid black; */
    width:500px;
    padding:20px 5px;
    height: 120px;
    max-width:100%; /*responsive web design*/
    margin:0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons img{
    width:40px;
}
